@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Shrikhand&display=swap');

@import "normalize.css";

$primaire: #9356DC;
$primaire-light: #F5EDFF; 
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$noir: #353535;
$gris: #EAEAEA;
$gris-light: #F7F7F7;
$gris-heavy: #7E7E7E;
$blanc: #fff;

* {
	box-sizing: border-box;
}

html {
	background-color: $primaire-light;
	font-family: 'Roboto', sans-serif;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		// 	font-family: 'Shrikhand', cursive;
	}

	h1, h2 {
		font-size: 1.4rem;
	}

	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

body {
	background: $blanc;
	max-width: 425px;
	margin: auto;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	> * {
		width: 100%;
	}

	a {
		height: 60px;
		padding-top: 10px;
		box-shadow: 0px 2px 5px rgba(53, 53, 53, 0.25);
		z-index: 1;
		.logo--header {
			width: 175px;
		}

	}
	form {
		.search__input-container {
			gap: 15px;
			height: 50px;
			background: $gris;
		}
		#search {
			width: 150px;
			border: none;
			outline: none;
			background: inherit;
		}
		section {
			padding: 40px 20px;
			background: $gris-light;
			h1 {
				font-weight: 900;
			}
			button {
				height: 45px;
				padding: 0 20px;
				background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
				box-shadow: 0px 5px 10px rgba(53, 53, 53, 0.25);
				border: none;
				border-radius: 40px;
				font-size: .8rem;
				color: $blanc;
			}
		}
	}
}

section {
	padding: 40px 20px;
	h2 {
		margin-bottom: 30px;
	}
	&.fonctionnement {
		button {
			width: calc(100% - 20px) ;
			height: 65px;
			position: relative;
			margin-bottom: 20px;
			margin-left: 20px;
			border: none;
			border-radius: 20px;
			box-shadow: 0px 5px 10px rgba(53, 53, 53, 0.25);
			font-size: .8rem;
			font-weight: bold;
			text-align: left;
			padding-left: 30px;
			transition: .4s ease;
			i {
				font-size: 15px;
				padding-right: 20px;
				color: $gris-heavy;
				transition: .4s ease;
			}
			&:hover {
				background-color: $primaire-light;
				color: $noir;
				i {
					color: $primaire;
				}
			}
			&:before {
				content: "";
				width: 30px;
				height: 30px;
				position: absolute;
				background: #9356DC;
				border-radius: 50%;
				color: $blanc;
				left: -15px;
				top: calc( 50% - 15px);
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&:nth-child(2):before {
				content: "1";
			}
			&:nth-child(3):before {
				content: "2";
			}
			&:nth-child(4):before {
				content: "3";
			}
		}
	}
	&.restaurants {
		background: $gris-light;
		.card {
			margin-bottom: 30px;
			background: $blanc;
			border-radius: 15px;
			box-shadow: 0px 2px 20px rgba(53, 53, 53, 0.25);
			img {
				width: 100%;
				height: 200px;
				object-fit: cover;
				border-radius: 15px 15px 0 0;
			}
			div {
				padding: 15px;
				position: relative;
				h3 {
					&:first-letter {
					text-transform: capitalize;
					}
				}
				p {
					margin: 5px 0;
					text-transform: capitalize;
				}
				button {
					padding: 0;
					position: absolute;
					right: 15px;
					top: calc( 50% - 12.5px);
					background: transparent;
					border: none;
					i {
						font-size: 25px;
					}
				}
			}
		}
	}
}

footer {
	padding: 20px;
	background: $noir;
	color: $blanc;
	.logo--footer {
		width: 100px;
	}
	ul {
		padding: 0;
		li {
			list-style-type: none;
			margin-bottom: 10px;
			i {
				font-size: small;
				margin-right: 10px;
			}
		}
	}

}