$primaire: #9356DC;
$primaire-light: #F5EDFF; 
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$tertiaire-heavy: #058d6b;
$noir: #353535;
$gris: #EAEAEA;
$gris-light: #F7F7F7;
$gris-heavy: #7E7E7E;
$blanc: #fff;