* {
	box-sizing: border-box;
}

html {
	background-color: $primaire-light;
	font-family: 'Roboto', sans-serif;

    body {
        max-width: 425px;
        background: $blanc;
        margin: auto;
    }

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		// 	font-family: 'Shrikhand', cursive;
	}

	h1, h2 {
		font-size: 1.4rem;
	}
	
	a:-webkit-any-link {
		color: unset;
		text-decoration: unset;
	}
}